<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Escoge un profesor</h1>

    <form method="POST">
        {% csrf_token %}
        {% for professor in professors %}
            <button type="submit" name="professor" value="{{ professor.id }}">
                <p>{{ professor.name }}</p>
                {{ professor.major }}
            </button>
        {% endfor %}
    </form>

</body>
</html>